Xml/invoice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified"
targetNamespace="com.nt.types" xmlns:inv="com.nt.types">
	
<xs:element name="invoice-type" type="inv:invoicetype"/>
<xs:complexType name="invoicetype">
	<xs:sequence>
		<xs:element name="invoice-id" type="xs:int"/>
		<xs:element name="customer-name" type="xs:string"/>
		<xs:element name="product" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
		<xs:element name="amount" type="xs:double"/>
	</xs:sequence>
</xs:complexType>	
	
</xs:schema>
