Xml/marshalingTest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:complexType name="InvoiceType">
		<xs:sequence>
			<xs:element name="invoice-id" type="xs:int"/>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="address" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="invoice" type="InvoiceType"/>
</xs:schema>
