Xml/patientNameSpaceUsingImport.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:patient="http://www.appolo.in/patient/type" 
	targetNamespace="http://www.appolo.in/patient/type" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:complexType name="patientType" >
		<xs:sequence>
			<xs:element name="patient-id" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="patient-gender" type="xs:string"/>
			<xs:element name="patient-desease" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	

</xs:schema>
