Xml/ProductionPlan.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="planType">
		<xs:sequence>
			<xs:element name="id" type="xs:int"/>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="type" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mainPlant">
		<xs:sequence>
			<xs:element name="scap" type="planType"/>
			<xs:element name="ccap" type="planType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Main-Plant" type="mainPlant"/>
</xs:schema>
