Xml/project.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
																					elementFormDefault="qualified" attributeFormDefault="unqualified"
																					targetNamespace="http://www.ms.in/project/type">
	<xs:complexType name="projectType">
		<xs:sequence>
			<xs:element name="pid" type="xs:int"/>
			<xs:element name="pname" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
