Xml/purchase.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="authorType">
		<xs:sequence>
			<xs:element name="Author-Name" type="xs:string"/>
			<xs:element name="Phone-Number" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="bookType">
		<xs:sequence>
			<xs:element name="Name" type="xs:string"/>
			<xs:element name="Price" type="xs:double"/>
			<xs:element name="Stream-Type" type="xs:string"/>
			<xs:element name="Author-Detail" type="authorType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Book" type="bookType"/>
</xs:schema>
